# ignore home directory cc files.
src/test.cc

# ignore testing files.
*.test

# ignore testing folders.
test/

# ignore object files.
obj/

# ignore main binary.
main

# ignore .sh script
*.sh

# ignore googletest
googletest/
