# ignore home directory cc files.
src/test.cc

# ignore testing files.
*.test

# ignore testing files..
src/test/
include/test
test
testobj/

# ignore object files.
obj/

# ignore main binary.
main

# ignore .sh script
*.sh

# ignore googletest
googletest/
